<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Upload attachments</h3>
</div>

<%= form_for([@project, @task], :html => {:id => "task_attachment", :class => "form-horizontal upload_support", :style=>"margin-bottom:0px;"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="modal-body task-form clearfix">
		<div class="control-group" id="attachments-zone"><i class="icon-file"></i>
			<em>Just drag and drop files here...or...</em>
			<p><input class="input-file" type="file" multiple></p>
			<% attachments = @task.attachments %>
			<% attachments.each do |file| %>
				<p><%= link_to file.file_name, file.url_path, :target => "_blank" %>
					<i class="icon-remove" id="<%= file.id %>"></i></p>
			<% end %>
		</div>
	</div>
	<div class="modal-footer">
	  <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
	</div>
<% end %>

<%= javascript_include_tag "my_upload" %>
<script>
$(function(){
	$(".btn-primary").click(function(){
		window.location.href = "/projects/" + <%= @project.id %> + "/tasks/" ;
	});
}); 
</script>
