<%= form_for([@project, @task], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<div class="control-group">
			<label class="control-label">Describe</label>
			<div class="controls"><%= f.text_area :content, :class => 'input-xlarge', :rows => 3 %></div>
		</div>
		<div class="control-group">
			<label class="control-label">Importance</label>
			<div class="controls">
				<table>
					<tr height="4">
						<td class="level-urgent"></td>
						<td class="level-important"></td>
						<td class="level-normal"></td>
						<td class="level-idea"></td>
					</tr>
					<tr align="left">
						<td>
							<label class="radio"><input type="radio" name="importance" value="1">Urgent&nbsp;</label>
						</td>
						<td>
							<label class="radio"><input type="radio" name="importance" value="2">Important&nbsp;</label>
						</td>
						<td>
							<label class="radio"><input type="radio" name="importance" value="3">Normal&nbsp;</label>
						</td>
						<td>
							<label class="radio"><input type="radio" name="importance" value="4">Idea&nbsp;</label>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Assign to</label>
			<div class="controls">
				<% @project.collaborators.each do |c| %>
				<label class="radio">
					<input type="radio" name="assignee" value="1"><%= c.user.email %>
				</label>
				<% end %>
				<label class="radio">
					<input type="radio" name="assignee" value="2"><%= @project.owner.email %>
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Documents</label>
			<div class="controls"><input class="input-file" type="file"></div>
		</div>
		<div class="form-actions">
			<%= f.submit :class => 'btn btn-primary' %>
		</div>
	</fieldset>
<% end %>
