<%= form_for([@project, @task], :html => {:class => "form-horizontal", :style=>"margin-bottom:0px;"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="modal-body task-form clearfix">
		<div class="fl">
			<div class="control-group"><i class="icon-pencil"></i>
			<%= f.text_field :title, :class => 'input-xlarge', :placeholder => "The whole story or a short summary..." %></div>
			<div class="control-group"><i class="icon-list"></i>
			<%= f.text_area :detail, :class => 'input-xlarge', :rows => 8, :placeholder => "details..." %></div>
			<div class="control-group" id="due"><i class="icon-time"></i>
				<span class="select-block due">ASAP</span><span class="select-block due">Today</span><span class="select-block due">Tomorrow</span><span class="select-block due">ThisWeek</span>
			</div>
			<div class="control-group" id="assignee"><i class="icon-user"></i>
				<% @project.collaborators.each do |c| %><span class="select-block assignee"><%= c.user.username %></span><span class="hidden"><%= c.user_id%></span><% end %>
			</div>
		</div>
		<div class="fr" style="width:210px;">
			<div class="control-group"><i class="icon-upload"></i>
				<div class="file-parking">Drag and drop files here...</div>
				<input class="input-file" type="file" multiple>
			</div>
		</div>
	</div>
	<%= f.hidden_field :assignee_id %>
	<div class="modal-footer">
	  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
	  <%= f.submit :class => 'btn btn-primary' %>
	</div>
<% end %>
<script> 
$(function(){
	$(".select-block").click(function(){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		var select_id = $(this).parent().attr('id');
		if( select_id == 'due'){
			// TODO..
		}
		else if(select_id == 'assignee'){
			$('#task_assignee_id').val($(this).next().text());
		}
		else{
			alert("what's " + select_id);
		}
	});
}); 
</script>