<%= form_for([@project, @task], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="modal-body task-form">
		<div class="control-group"><%= f.text_field :title, :class => 'input-xlarge' %></div>
		<div class="control-group"><%= f.text_area :detail, :class => 'input-xlarge', :rows => 4 %></div>
		<div class="control-group">
			<span class="due">ASAP</span><span class="due">Today</span><span class="due">Next</span><span class="due">ThisYear</span>
		</div>
		<div class="control-group">
			<% @project.collaborators.each do |c| %>
			<span class="assignee"><%= c.user.username %></span>
			<% end %>
		</div>
	</div>
	<div class="modal-footer">
	  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
	  <%= f.submit :class => 'btn btn-primary' %>
	</div>

<% end %>
