<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Create task</h3>
</div>

<%= form_for([@project, @new_task], :html => {:class => "form-horizontal new_task_form", :style=>"margin-bottom:0px;"}, :remote => true) do |f| %>
  <% if @new_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @new_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="modal-body task-form clearfix">
			<div class="control-group"><i class="icon-pencil"></i>
			<%= f.text_field :title, :class => 'input-xxxlarge new_task_title', :placeholder => "The whole story or a short summary..." %></div>
			<div class="control-group"><i class="icon-tasks"></i>
			<%= f.text_area :detail, :class => 'input-xxxlarge', :rows => 8, :placeholder => "Details if necessary..." %></div>
<!--			<div class="control-group" id="due"><i class="icon-time"></i>
				<span class="select-block due">ASAP</span><span class="select-block due">Today</span><span class="select-block due">Tomorrow</span><span class="select-block due">ThisWeek</span>
			</div>-->
			<div class="control-group" id="assignee"><i class="icon-user"></i>
				<% @project.collaborators.each do |c| %><span class="select-block assignee"><%= c.user.username %></span><span class="hidden"><%= c.user_id%></span><% end %>
			</div>
	</div>
	<%= f.hidden_field :assignee_id %>
	<%= hidden_field_tag :has_attachment, 0 %>
	<div class="modal-footer">
	  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
	  <%= f.submit 'Done', :class => 'btn btn-primary' %>
	  <a href="#" class="btn btn-primary continue">Continue, attach files >></a>
	</div>
<% end %>
<script> 
$(function(){
	$(".select-block").click(function(){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		var select_id = $(this).parent().attr('id');
		if( select_id == 'due'){
			// TODO..
		}
		else if(select_id == 'assignee'){
			$('#task_assignee_id').val($(this).next().text());
		}
		else{
			alert("what's " + select_id);
		}
	});
	
	$(".continue").click(function(){
		$("#has_attachment").val(1);
		$(".new_task_form").submit();
	});		
}); 
</script>