<div class="content-header">
	<div class="header-inner">
		<h2>Tasks</h2><%= hidden_field_tag :project_id, @project.id %>
	</div>
</div>
<div class="tasks">
	<% @tasks.each do |task| %>
	<div class="task" id="<%= task.id %>">
		<div class="task-content">
			<%= check_box_tag :complete, task.id %> <% if task.due != Task::DUE_NIL %><span class="due"><%= task.due_name %></span> <% end %>
			<%= task.title %>
			<div class="user"><%= task.handler.username %></div>
		</div>
	</div>
	<% end %>
</div>
<div class="content-footer">
	<div class="footer-inner">
		<h4>- end -</h4>
	</div>
</div>

<div id="task-detail-wrapper" style="display:none;">
	<div class="task-detail">
		<% @task = Task.new %>
		<%= render 'form' %>
	</div>
</div>

<script>
$(function() {  

	$('.task').click(function(){
		$("#task-detail-wrapper").slideDown("slow");
//		$(this).after();
	});
	
	$(':checkbox').click(function(){
  	var task_id = $(this).attr("value");
		var project_id = $('#project_id').val();
		$.ajax({
			url: "/projects/" + project_id + "/tasks/" + task_id + "/complete",
			success: complete_check(this)
		});                               
	});

	function complete_check(e){
		$(e).parent().parent().fadeOut('slow');
	}
	
});
</script>
