<div class="content-header">
	<div class="header-inner">
		<%= link_to 'Delete', [@project, @task], :method => 'delete', :confirm => "Are you sure?", :class => 'fr' %><h2>Task detail</h2>
	</div>
	<div class="content">
		<%= form_for([@project, @task], :html => {:id => "task-edit-form", :class => "form-horizontal upload_support", :style=>"margin-bottom:0px;"}) do |f| %>
		  <% if @task.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

		      <ul>
		      <% @task.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

			<div class="task-edit-form clearfix">
				<div class="fl literal mr20">
					<div class="control-group"><i class="icon-pencil"></i>
					<%= f.text_field :title, :class => 'input-xxlarge', :placeholder => "The whole story or a short summary..." %></div>
					<div class="control-group"><i class="icon-tasks"></i>
					<%= f.text_area :detail, :class => 'input-xxlarge', :rows => 15, :placeholder => "Details if necessary..." %></div>
<!--					<div class="control-group" id="due"><i class="icon-time"></i>
						<span class="select-block due">ASAP</span><span class="select-block due">Today</span><span class="select-block due">Tomorrow</span><span class="select-block due">ThisWeek</span>
					</div>-->
					<div class="control-group" id="assignee"><i class="icon-user"></i>
						<% @project.collaborators.each do |c| %><span class="select-block assignee<%if @task.assignee_id == c.user.id%> active<%end%>"><%= c.user.username %></span><span class="hidden"><%= c.user_id%></span><% end %>
					</div>
					<hr />
					<%= f.submit 'Update Text Fields', :class => 'btn btn-primary mr5' %><%= link_to "Cancel", project_tasks_path(@project), :class => 'btn' %>
				</div>
				<div class="fl attachments mr20">
					<div class="control-group" id="attachments-zone"><i class="icon-file"></i>
						<em>Just drag and drop files here...or...</em>
						<p><input class="input-file" type="file" multiple></p>
						<% attachments = @task.attachments %>
						<% attachments.each do |file| %>
							<p><%= link_to file.file_name, file.url_path, :target => "_blank" %>
								<i class="icon-remove" id="<%= file.id %>"></i></p>
						<% end %>
					</div>
				</div>
				<div class="fl comments">
					<div class="control-group">
						<i class="icon-edit"></i>
						Not any comment
					</div>
				</div>
			</div>
			<%= f.hidden_field :assignee_id %>
		<% end %>
	</div>
</div>

<%= javascript_include_tag "my_upload" %>
<script>
$(function() {
	$(".select-block").click(function(){
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		var select_id = $(this).parent().attr('id');
		if( select_id == 'due'){
			// TODO..
		}
		else if(select_id == 'assignee'){
			$('#task_assignee_id').val($(this).next().text());
		}
		else{
			alert("what's " + select_id);
		}
	});
});
</script>