<h1><%= @project.name %></h1>

<h3>Add collaborator</h3>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<h3>Collaborators</h3>

<table>
  <tr>
	<td width="250"><%= @project.owner.email %></td>
	<td>Owner</td>
  </tr>
<% @collaborators.each do |collaborator| %>
  <tr>
    <td><%= collaborator.user.email %></td>
    <td><%= link_to 'Remove', [@project, collaborator], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />                                               
<br />                                               

<%= link_to '< Back to Project', project_url(@project) %>