<h1>Projects</h1>
<%= button_to '+ New Project', new_project_path, :method => :get %>
<br />
<table>
<% @projects.each do |project| %>
  <tr>
    <td width="200"><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
