<div class="pull-right h1-buttons">
	<div class="btn-group">
	  <button class="btn btn-success" id="collaborators">Invite Collaborators</button>
	  <button class="btn btn-primary" id="new">+ New Tasks</button>
	</div>
</div>
<h1><%= @project.name %></h1>
<div id="file-uploader-demo1">		
	<noscript>			
		<p>Please enable JavaScript to use file uploader.</p>
		<!-- or put a simple form for upload here -->
	</noscript>         
</div> <!--
<br />
<br />
<br />
<div id="file-uploader-demo2">		
	<noscript>			
		<p>Please enable JavaScript to use file uploader.</p>
	</noscript>         
</div>
<%= link_to 'Invite Collaborators', project_collaborators_path(@project) %>
<%= link_to "+ New Task", new_project_task_path(@project) %>
-->
<p id="notice"><%= notice %></p>

<script>
	$("#new").click(function() {
	  window.location = "/projects/" + <%= @project.id %> + "/tasks/new";
	});
	$("#collaborators").click(function() {
	  window.location = "/projects/" + <%= @project.id %> + "/collaborators";
	});

	function createUploader(){            
	    var uploader = new qq.FileUploader({
	        element: document.getElementById('file-uploader-demo1'),
	        action: 'do-nothing.htm',
	        debug: true
	    });           
	}

	function createUploader2(){            
	    var uploader = new qq.FileUploader({
	        element: document.getElementById('file-uploader-demo2'),
	        action: 'do-nothing.htm',
	        debug: true
	    });           
	}
	
	function createAll(){
		createUploader();
//		createUploader2();
	}

    // in your app create uploader as soon as the DOM is ready
    // don't wait for the window to load  
    window.onload = createAll;     
</script>