<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %><div class='account'><span><%= current_user.email %>, </span><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div><% end %>
<div class='content fix'>
	<%= yield %>
</div>

</body>
</html>
