<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render 'shared/topbar' %>
	<div id='page-outer'>
		<div id='page-container'>
				<%= yield %>
		</div>
	</div>

</body>
</html>
